<div class="character_card">
    {% if character.image %}
    <img src="{{ character.image.url }}">
    {% else %}
    <img src="/media/staticmedia/image-placeholder-vertical.jpg">
    {% endif %}
    <div class="character_card_info">
        <h3>{{character.name}}</h3>
        <p>{{character.dnd_class}} {{character.level}} ур.</p>
        <p>{{character.hp}}/{{character.max_hp}}</p>
        {% if not character.is_player %}
        <p><span class="npc_sign">NPC</span></p>
        {% endif %}
    </div>
</div>