<div class="encounter_character_card">
    <img src="{{character.character.image.url}}">
    <div class="encounter_character_card_info">
        <h3>{{character.character.name}}</h3>
        <p>{{character.character.dnd_class}}</p>
        <p>Инициатива: {{character.initiative}}</p>
        <p>❤️ {{character.hp}}/{{character.max_hp}}</p>
        {% if encounter.is_complete == False %}
        <div class="encounter_character_card_buttons">
            <a href="{{character.get_initiative_url}}"><p>&#9998;</p></a>
            <a href="{{character.get_health_url}}"><p>&#10084;</p></a>
            <a href="{{character.get_damage_url}}"><p>&#10033;</p></a>
            <a href="{{character.character.get_absolute_url}}"><p>Ⓘ</p></a>
            <form method="post" action="{{character.delete_from_encounter}}">
                {% csrf_token %}
                <button >&#10006;</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>