{% extends 'base.html' %}
{% block content %}
<div class="detail_page_div">
    <div class="character_detail_base">

        {% if character.image %}
        <img src="{{character.image.url}}">
        {% else %}
        <img src="/media/staticmedia/image-placeholder-vertical.jpg">
        {% endif %}

        <div class="character_detail_info">
            <h1>
                {{character.name}} <a href="{{character.get_update_url}}">⛭</a>{% if not character.is_player %} <span class="npc_sign">NPC</span> {% endif %}
            </h1>
            <p><b>Раса: </b>{{character.race}}</p>
            <p><b>Класс: </b>{{character.dnd_class}} | <b>Подкласс: </b>{{character.dnd_subclass}}</p>
            <p><b>Предыстория: </b>{{character.background}}</p>
            <p><b>Уровень: </b>{{character.level}}</p>
            <p><b>Бонус мастерства: </b>+{{character.proficient_bonus}}</p>
            <p><b>Скорость: </b>{{character.speed}}</p>
            <p><b>HP: </b>{{character.hp}}/{{character.max_hp}}</p>
            <p><b>Инициатива: </b>{{character.initiative}}</p>
            <p><b>КД: </b>{{character.armor_class}}</p>
            <p><b>ММ: </b>{{character.cooper_coins}} <b>СМ: </b>{{character.silver_coins}} <b>ЗМ: </b>{{ character.gold_coins }} <a href="{{character.get_coin_update_url}}">⛭</a></p>
            <p><a href="{{character.get_go_to_gold_url}}">[Вывести в золото]</a></p>
        </div>
    </div>
    <div class="character_ability_collection">
        {% for ability in character.abilities.all %}
        <div class="ability_div">
            <h2>{{ability.get_ability_display}} <a href="{% url 'characters:character-decrease-ability' ability.id %}">-</a> {{ability.value}} <a href="{% url 'characters:character-increase-ability' ability.id %}">+</a> </h2>
            <div class="skill_div">
                <p>
                    Спасбросок {{ability.saving_throw}}<a href="{% url 'characters:make-proficient-ability' ability.id %}">{% if ability.is_proficient %} ● {% else %} ○ {% endif %}</a>
                </p>
                {% for skill in ability.skills.all %}
                <p>
                    {{ skill.get_skill_display }}  {{ skill.value }}<a href="{% url 'characters:make-proficient-skill' skill.id %}">{% if skill.is_proficient %} ● {% else %} ○ {% endif %}</a>
                </p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}