{% extends 'base.html' %}
{% block content %}
<div class="detail_page_div">
    <div class="character_detail_base">

        {% if character.image %}
        <img src="{{character.image.url}}">
        {% else %}
        <img src="/media/staticmedia/image-placeholder-vertical.jpg">
        {% endif %}

        <div class="character_detail_info">
            <h1>
                {{character.name}} <a href="{{character.get_update_url}}">⛭</a>{% if not character.is_player %} <span class="npc_sign">NPC</span> {% endif %}
            </h1>
            <p><b>Раса: </b>{{character.race}}</p>
            <p><b>Класс: </b>{{character.dnd_class}} | <b>Подкласс: </b>{{character.dnd_subclass}}</p>
            <p><b>Предыстория: </b>{{character.background}}</p>
            <p><b>Уровень: </b>{{character.level}}</p>
            <p><b>Бонус мастерства: </b>+{{character.proficient_bonus}}</p>
            <p><b>Скорость: </b>{{character.speed}}</p>
            <p><b>HP: </b>{{character.hp}}/{{character.max_hp}}</p>
            <p><b>Инициатива: </b>{{character.initiative}}</p>
            <p><b>КД: </b>{{character.armor_class}}</p>
            <p><b>ММ: </b>{{character.cooper_coins}} <b>СМ: </b>{{character.silver_coins}} <b>ЗМ: </b>{{ character.gold_coins }} <a href="{{character.get_coin_update_url}}">⛭</a></p>
            <form method="post" action="{{character.get_go_to_gold_url}}" class="go_to_gold_form">
                {% csrf_token %}
                <button>Вывести в золото</button>
            </form>
        </div>
    </div>
    <div class="character_ability_collection">
        {% for ability in character.abilities.all %}
        <div class="ability_div">
            <div class="ability_element">
                <h2>{{ability.get_ability_display}}</h2>
                <form method="post" action="{% url 'characters:character-decrease-ability' ability.id %}">
                    {% csrf_token %}
                    <button>-</button>
                </form>
                <h2>{{ability.value}}</h2>
                <form method="post" action="{% url 'characters:character-increase-ability' ability.id %}">
                    {% csrf_token %}
                    <button>+</button>
                </form>
            </div>
            <div class="skill_div">
                <div class="skill_element">
                    <p>Спасбросок {{ability.saving_throw}}</p>
                    <form method="post" action="{% url 'characters:make-proficient-ability' ability.id %}">
                        {% csrf_token %}
                        <button>{% if ability.is_proficient %} ● {% else %} ○ {% endif %}</button>
                    </form>
                </div>
                {% for skill in ability.skills.all %}
                <div class="skill_element">
                    <p>{{ skill.get_skill_display }}  {{ skill.value }}</p>
                    <form method="post" action="{% url 'characters:make-proficient-skill' skill.id %}">
                        {% csrf_token %}
                        <button>{% if skill.is_proficient %} ● {% else %} ○ {% endif %}</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}