{% extends 'characterapp/base.html' %}
{% block maincontent %}
<h1>{{title}}</h1>
<div class="add_button_div">
    <a href="{% url 'characters:character-add' %} ">Добавить</a>
</div>
<form method="get" class="search_form">
    {% for f in form %}
    <p><label for="{{f.id_for_label}}" class="search_form_label">{{f.label}}</label>{{f}}</p>
    <div>{{f.errors}}</div>
    {% endfor %}
    <p><button type="submit" class="search_form_button">Поиск</button></p>
    <p><a href="{{url_clean}}" class="search_form_clear_button">Очистить</a> </p>
</form>
<div class="character_card_list">
    {% for character in characters %}
    <a href="{{ character.get_absolute_url }}">
    <div class="character_card">
        {% if character.image %}
        <img src="{{ character.image.url }}">
        {% else %}
        <img src="/media/staticmedia/image-placeholder-vertical.jpg">
        {% endif %}
        <div class="character_card_info">
            <h3>{{character.name}}</h3>
            <p>{{character.dnd_class}} {{character.level}} ур.</p>
            <p>{{character.hp}}/{{character.max_hp}}</p>
            {% if not character.is_player %}
            <p><span class="npc_sign">NPC</span></p>
            {% endif %}
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}